
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #000; */
  /* line-height: 2; */
  overflow: hidden;
}

.c {
  color: #fff;
  opacity: 0
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.fadeIn {
  /*animation-name: fadeIn;*/
  animation: fadeIn 1s both;
}

.content {
  font-size: 108px;
  padding: 100px 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.content span {
  font-size: 100px;  
}

.animated {
  /*animation-duration: 1s;*/
   /*animation-fill-mode: both;*/
}

.btn-wrapper {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.btn {
  height: fit-content;
  border-radius: 20px;
  padding: 15px 30px;
  width: 250px;
  background-color: #542246;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-wrapper span {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.d-none {
  display: none;
}